{% load static %}

<link rel="stylesheet" href="{% static 'blog/css/posts.css' %}">


<div class='container'>
    <h2>Посты</h2>
    {% for row in articles %}
    <div class='post-item'>
        <div class='post-header'>
            <div class='user-info'>
                <!-- <h3 class='username'>Username</h3> -->
                <h4 class='username'>{{ row.title }}</h4>
                <span class='post-date'>{{ row.date }}</span>
            </div>
            <form action='' method='POST' style='display: inline;'>
                <input type='hidden' name='post_id'>
                <!-- <button type='submit' class='delete-button'>Удалить</button> -->
            </form>

        </div>
        <p class='post-content'>{{ row.text }}</p>
    </div>
    {% endfor %}
    {% if not articles %}
        <div class='post-item'>Постов нет.</div>
    {% endif %}
</div>