# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
*.egg

# Django
db.sqlite3
*.log
media/
staticfiles/
*.pot
*.pyc
*.so
*.mo

# If you're using .env file for environment variables
.env

# Compiled code or bytecode
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Static files
/static/
staticfiles/

# Media files
/media/

# Virtual environment
env/
venv/

# Editor-specific files
.vscode/
.idea/
*.swp
*.swo
*~
.project
.pydevproject

# OS-specific files
.DS_Store
Thumbs.db
