{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Главная</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'post_list' %}">Посты</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">Профиль</a></li>
                <li>
                    <form method="post" action="{% url 'logout' %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Выход</button>
                    </form>
                </li>
                {% else %}
                <li><a href="{% url 'register' %}">Регистрация</a></li>
                <li><a href="{% url 'login' %}">Вход</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>